@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, #root {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: calc(14px + 1.4vw);
  color: #696969;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.5s;
}