html {
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

#colorReader {
  min-height: 100%;
  display: grid;
  grid-template-rows: 5fr 5fr 1fr;
}

#inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colorFormat {
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* Medium devices (tablets, 768px and down)*/
@media screen and (max-width: 768px) {
  #outputWrapper {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border: 1px solid black;
  }
}