#footer {
	font-size: 14px;
	background-color: #fff;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

#footer-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #696969;
	color: #fff;
}

#footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-content * {
	padding: 0 3px 0 3px;	
}

img {
	height: 15px;
	filter: grayscale(100%);
}