#colorReader {
  min-height: 100%;
  display: grid;
  grid-template-rows: 5fr 5fr 1fr;
}

#inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colorFormat {
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* Medium devices (tablets, 768px and down)*/
@media screen and (max-width: 768px) {
  #outputWrapper {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}